* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1) no-repeat center center fixed;
    background-size: cover;
}

header p
{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

header
{    
    margin-bottom: 20px;
    color: #ffff;
    cursor: default;
}

header h1
{
    text-align: center;
    font-size: 50px;
}
.container
{
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 25px;
    margin: 0 auto;
    width: 600px;
    max-height: 425px;
    margin-bottom: 20px;
    padding: 10px;
    color: #eee;
    cursor: default;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    overflow-y: auto;
}
.glass
{
    position: relative;
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 25px;
    
    margin: auto;
    width: 600px;
    max-height: 425px;
    margin-bottom: 20px;
    padding: 15px;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
            box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
}
::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 100px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
    background-color: transparent;
}

.container p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.input-section {
    text-align: center;
    margin-bottom: 20px;
}

.input-section input {
    width: 460px;
    height: 30px;
    padding-right: 0px;
    margin-right: 0;
    outline: none;
    padding: 5px;
    border: 2px solid #1abc9c;
    color: #eee;
    background-color: rgb(46, 56, 65);
}

.input-section button {
    width: 80px;
    padding-left: 0;
    margin-left: 0;
    padding: 11px;
    outline: none;
    background-color: #2ecc71;
    border: none;
    cursor: pointer;
}

#clearBtn
{
    position: relative;
    padding: 15px;
    left: 20%;
    border-radius: 20px;
    outline: none;
    background-color: #f1c40f;
    cursor: pointer;
}
#gitBtn
{
    position: absolute;
    padding: 15px;
    left: 55%;
    border-radius: 20px;
    outline: none;
    background-color: #f1c40f;
    cursor: pointer;
}
#foot
{
    text-align: center;
    color: #fff;
    padding-top: 10px;
}
.input-section button:hover {

    box-shadow: #35493e;

}

.deleteBtn .deleteIcon {
    margin-left: 5px;
    background-color: rgb(46, 56, 65);
}

.container #todoList,
#completedTasks {
    list-style: none;
    margin: 20px;
}

#todoList button {
    border: none;
    background-color: rgb(46, 56, 65);

}

#todoList li {
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 10px;
    border: 2px solid #eee;
}

#todoList .taskInput {
    outline: none;
    border: none;
    padding: 2px;
    background-color: rgb(46, 56, 65);
    width: 89%;
    color: azure;
}

#completedTasks button {
    border: none;
    background-color: rgb(46, 56, 65);
}

#completedTasks li {
    margin: -1px;
    padding: 10px;
    border: 2px solid #eee;
    list-style: none;
}

#completedTasks .taskInput {
    outline: none;
    border: none;
    padding: 2px;
    background-color: rgb(46, 56, 65);
    width: 89%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    color: white;
}

input[type="checkbox"]:checked+.taskInput {
    text-decoration: line-through;
    color: #e03434;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 350px;
    }

    .input-section input {
        max-width: 250px;
    }

    #todoList .taskInput {
        max-width: 80%;
        min-width: 50%;
    }
    #clearBtn{
        margin-left: 25%;
    }
    #gitBtn{
        margin-left: 27%;
        margin-bottom: 20px;
    }
    #completedTasks .taskInput {
        width: 81%;
    }
}